/*
 * font-family: 'Catamaran', sans-serif;
 * font-family: 'Source Code Pro', monospace;
 */

html, body {
  font-family: sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Catamaran', sans-serif;
}

canvas {
}

.container {
  width: 100%;
  height: 100%;
  background: #fdfdfd;
}

.game-container {
  display: flex;
  justify-content: center;
}

.sidebar          { box-shadow: -2px 0 6px 0 rgba(0, 0, 0, 0.9) }
.canvas-container { box-shadow:  2px 0 6px 0 rgba(0, 0, 0, 0.9) }

.sidebar {
  width: 250px;
  background: #76e255;
  background-image: url('../images/retina-dust.png');
  color: white;
  padding: 20px;
  border-right: 1px solid #111;
  text-shadow: 0px 0px 1px black, 1px 1px 3px black;
}

.sidebar .pause-btn {
  color: white;
  background: #18f;
  padding: 8px 12px;
  cursor: pointer;
  box-shadow: 1px 2px 1px rgba(0,0,0,0.8);
  border-radius: 4px;
  display: inline-block;
}

.sidebar .pause-btn:hover {
  background: #06e;
}

.sidebar-list {
  width: 100%;
}

.sidebar-list .group {
  clear: both;
  vertical-align: bottom;
}

.sidebar-list .label,
.sidebar-list .val {
  vertical-align: baseline;
}

.sidebar-list .label {
  font-size: 18px;
  color: #fdfdfd;
  position: relative;
  top: -1px;
}

.sidebar-list .val {
  font-size: 32px;
  color: #fff;
  text-align: right;
  font-family: 'Source Code Pro', monospace;
}

.kaiju-container {
  width: 100%;
  padding: 4px;
  background: rgba(0,0,0,0.8);
  border-radius: 6px;
}

.kaiju {
  height: 15px;
  background: rgb(28, 205, 255);
  border-radius: 2px;
  box-shadow: 0 0 2px 0px rgba(210, 255, 255, 0.9);
}

.game-over-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}

.game-over {
  z-index: 100;
  position: relative;
  background: #292929;
  color: white;
  display: inline-block;
  padding: 9px 25px;
  border-radius: 8px;
  top: -90px;
}

/* CONFIG */

.config {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
  width: 200px;
  background: rgba(255, 255, 255, 0.8);
  font-family: Arial, sans-serif;
  padding: 5px 15px 15px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.config-item {
  margin: 2px 0;
}

.config-item input {
  float: right;
  width: 50px;
}

/* TEXT EFFECTS */

.canvas-container {
  background: url('../images/bg.png');
  background-size: 100%;
}

.text-effects-container {
  position: absolute;
  top: 0; left: 0;
}

.text-effect {
  font-size: 18px;
  color: white;
  text-shadow: 0 0 1px rgba(0,0,0,0.9);
  font-weight: bold;
}

/* TESTING */

canvas {
  image-rendering: optimizeSpeed;             /* Older versions of FF          */
  image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
  image-rendering: -webkit-optimize-contrast; /* Safari                        */
  image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
  image-rendering: pixelated;                 /* Awesome future-browsers       */
  -ms-interpolation-mode: nearest-neighbor;   /* IE                            */
}
