/*
 * font-family: 'Catamaran', sans-serif;
 * font-family: 'Source Code Pro', monospace;
 */

html, body {
  font-family: sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Catamaran', sans-serif;
  font-size: 1vmin;
}

.container {
  width: 100%;
  height: 100%;
  background: #fdfdfd;
}

/* START SCREEN */

.start-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: relative;
}

.start-bg-container {
  width: 100%;
  height: 100%;
  text-align: center;
}

.start-container img {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
}

.start-btn {
  position: absolute;
  width: 17%;
  height: 11%;
  top: 52%;
  cursor: pointer;
}

.start-container .start-screen-img { opacity: 1; }
.start-container .start-screen-on-img { opacity: 0.01; }

.start-container.is-hovered .start-screen-img { opacity: 0.01; }
.start-container.is-hovered .start-screen-on-img { opacity: 1; }

.credits {
  font-size: 5rem;
  color: rgb(230, 255, 255);
  text-shadow:
    0 0 1px rgba(0,0,0,0.95),
    0 0 2px rgba(0,0,0,0.95),
    -1px 1px 1px rgba(0,0,0,0.95),
    -1px 1px 2px rgba(0,0,0,0.95);

  position: absolute;
  top: 11%;
  width: 27%;
}

.credits-group {
  background: rgba(255, 255, 255, 0.6);
  padding: 2vmin;
  text-align: center;
  margin-bottom: 9vmin;
  border: 0.3vmin solid rgba(255, 255, 255, 0.9);
  border-radius: 2vmin;
}

.credits-left {
  left: 4%;
}

.credits-right {
  right: 4%;
}

a {
  color: rgb(150, 255, 235);
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* PLAYING SCREEN */

.game-container {
  display: flex;
  justify-content: center;
}

.sidebar          { box-shadow: -2px 0 6px 0 rgba(0, 0, 0, 0.9) }
.canvas-container { box-shadow:  2px 0 6px 0 rgba(0, 0, 0, 0.9) }

.sidebar {
  width: 250px;
  background: #76e255;
  background-image: url('../images/retina-dust.png');
  color: white;
  padding: 20px;
  border-right: 1px solid #111;
  text-shadow: 0px 0px 1px black, 1px 1px 3px black;
}

.sidebar .pause-btn {
  color: white;
  background: #18f;
  padding: 8px 12px;
  cursor: pointer;
  box-shadow: 1px 2px 1px rgba(0,0,0,0.8);
  border-radius: 4px;
  display: inline-block;
  font-size: 4rem;
}

.sidebar .pause-btn:hover {
  background: #06e;
}

.sidebar-list {
  width: 100%;
}

.sidebar-list .group {
  clear: both;
  vertical-align: bottom;
  height: 4rem;
}

.sidebar-list .label,
.sidebar-list .val {
  vertical-align: baseline;
}

.sidebar-list .label {
  font-size: 18px;
  color: #fdfdfd;
  position: relative;
  top: -1px;
}

.sidebar-list .val {
  font-size: 32px;
  color: #fff;
  text-align: right;
  font-family: 'Source Code Pro', monospace;
}

.kaiju-container {
  width: 100%;
  padding: 4px;
  background: rgba(0,0,0,0.8);
  border-radius: 6px;
}

.kaiju {
  height: 15px;
  background: rgb(28, 205, 255);
  border-radius: 2px;
  box-shadow: 0 0 2px 0px rgba(210, 255, 255, 0.9);
}

.instructions {
  font-size: 2.5vmin;
}

/* THRILL OF VICTORY AND AGONY OF DEFEAT */

.game-over-container,
.victory-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}

.game-over,
.victory {
  z-index: 100;
  position: relative;
  background: rgba(0,0,0,0.8);
  display: inline-block;
  padding: 8vmin 8vmin;
  border-radius: 3vmin;
  top: -9vmin;
  text-align: center;
}

.game-over h1,
.victory p {
  color: white;
  font-size: 8rem;
  padding: 0;
  margin: 0;
}

.victory p {
  font-size: 6em;
}

.play-again-btn,
.try-again-btn {
  color: white;
  background: #18f;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
  display: inline-block;
  font-size: 4rem;
}

.play-again-btn { margin-top: 4vmin; }

.play-again-btn:hover,
.try-again-btn:hover {
  background: #06e;
}

/* CONFIG */

.config {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
  width: 200px;
  background: rgba(255, 255, 255, 0.8);
  font-family: Arial, sans-serif;
  padding: 5px 15px 15px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.config-item {
  margin: 2px 0;
}

.config-item input {
  float: right;
  width: 50px;
}

/* TEXT EFFECTS */

.canvas-container {
  background: url('../images/bg.png');
  background-size: 100%;
}

.text-effects-container {
  position: absolute;
  top: 0; left: 0;
}

.text-effect {
  font-size: 18px;
  color: white;
  text-shadow: 0 0 1px rgba(0,0,0,0.9);
  font-weight: bold;
}

/* TESTING */

canvas {
  image-rendering: optimizeSpeed;             /* Older versions of FF          */
  image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
  image-rendering: -webkit-optimize-contrast; /* Safari                        */
  image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
  image-rendering: pixelated;                 /* Awesome future-browsers       */
  -ms-interpolation-mode: nearest-neighbor;   /* IE                            */
}
