html, body {
  font-family: sans-serif;
  background: #afa;
  width: 100%;
  height: 100%;
  margin: 0;
}

.container {
  width: 100%;
  height: 100%;
}

.sprite {
  border-radius: 100%;
  position: absolute;
  box-sizing: border-box;
}

.egg {
  background: white;
  border: 2px solid #444;
}

.hero {
  background: #639;
  border: 2px solid #407;
}

.enemy {
  background: #f00;
  border: 2px solid #700;
}

.game-over-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-over {
  z-index: 100;
  position: relative;
  background: #292929;
  color: white;
  display: inline-block;
  padding: 9px 25px;
  border-radius: 8px;
  top: -90px;
}
