html, body {
  font-family: sans-serif;
  background: #dfd;
  width: 100%;
  height: 100%;
  margin: 0;
}

canvas {
  background: #afa;
}

.container {
  width: 100%;
  height: 100%;
  background: #232322;
}

.game-over-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}

.game-over {
  z-index: 100;
  position: relative;
  background: #292929;
  color: white;
  display: inline-block;
  padding: 9px 25px;
  border-radius: 8px;
  top: -90px;
}

/* CONFIG */

.config {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
  width: 200px;
  background: rgba(255, 255, 255, 0.8);
  font-family: Arial, sans-serif;
  padding: 5px 15px 15px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.config-item {
  margin: 2px 0;
}

.config-item input {
  float: right;
  width: 50px;
}

/* TESTING */

canvas {
  image-rendering: optimizeSpeed;             /* Older versions of FF          */
  image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
  image-rendering: -webkit-optimize-contrast; /* Safari                        */
  image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
  image-rendering: pixelated;                 /* Awesome future-browsers       */
  -ms-interpolation-mode: nearest-neighbor;   /* IE                            */
}
